<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div>
		<label>修改结果</label>
	</div>
    <div>
        <div>信息</div>
        交易编号：<span th:text="${txnCtrlInfo.idTxn}"></span>
        交易控制编号：<span th:text="${txnCtrlInfo.idTxnCtrl}"></span>
        商户号：<span th:text="${txnCtrlInfo.merchantId}"></span>
        金额：<span th:text="${txnCtrlInfo.amt}"></span>
        备注：<span th:text="${txnCtrlInfo.remark}"></span>
    </div>
</body>
</html>